
/* global */
monuments-database{
    color: black;
    background-color : white;
    width: 100vw;
    margin: 0 auto;
    font-size : 20px;
}



/*TITLE @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
title{
    display:block;
    font-weight:bolder;
    text-align:center;
    font-size: 50px;
    background-color: black;
    color: white;
}

/*all data blocks*/
authors, cities, types, monuments {
    display: block;
    background-color : #EEEEEE;
    margin: auto;
    width: 70vw;
}



/*AUTHORS @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
authors{
    display: flex;
    margin: 20px auto;
}
author{
    margin: 0 auto;

}
student-id::before{
    content: " (";
}
student-id::after{
    content: ")";
}




/*MONUMENTS @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/*each in new line */
monuments{
    margin-top: 20px;
    height: 40vh;
    overflow-y: scroll;
}
monument>*{
    margin-left: 20px;
    margin-right: 20px;
}
monument-name, monument-author, costs, dimensions, visiting, history{
    display: block;
    position:relative;
    clear:both;
}

/*name and author of monument*/
monument-name{
    font-size : 35px;
    margin-top: 30px;
}
monument-author::before{
    content: "by "
}
monument-author{
     font-style: italic;
     font-size: 15px;
     color: grey;
}


/*date of completion*/
completion-date{
    display: flex;
}
completion-day::before{
    content: "Completion date: "
}
completion-day::after, completion-month::after{
    content: "."
}


/*costs*/
costs::before{
    content: "Total costs: "
}
costs::after{
    content: " " attr(currency)
}


dimensions{
}

width, height, length{
}
width::before{
    content: "Dimensions: ";
}
height::before, length::before{
    content: " x ";
}
width::after, height::after, length::after{
    content: attr(unit);
}



visiting::before{
content: "Visiting: "
}

history::before{
content: "Brief history: "

}



/*CITIES @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/*display in grid*/
cities{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    height: 35vh;
    overflow-y: scroll;
}
cities>*{
    margin: 20px;
    width: 280px;
}

/*display one below the other*/
area, elevation, population, governing-mayor, establishment-date{
    display: block;
    position:relative;
    clear:both;
}

/*city and country*/
city-name{
    font-size : 35px;
    margin-top: 30px;
}
city-name::after{
     content: ", "
}
country{
    margin-top: 30px;
    font-size : 25px;
}
country{
    clear:both;
}

/*mayor*/
governing-mayor::before{
    content: "Governing Mayor: "
}
governing-mayor{
     font-style: italic;
     font-size: 15px;
     color: grey;
}

/*area*/
area::before{
    content: "Area: "
}
area::after{
    content: " " attr(unit);
}

/*elevation*/
elevation::before{
    content: "Elevation: "
}
lowest-level::before{
    content: "from "
}
lowest-level::after{
    content: attr(unit) " up to "
}
highest-level::after{
    content: attr(unit)
}

/*population*/
population::before{
    content: "Population: "
}
population::after{
    content: " people"
}

/*date of establishment*/
establishment-date{
    display: flex;
}
establishment-day::before{
    content: "Establishment date: "
}
establishment-day::after, establishment-month::after{
    content: "."
}




/*TYPES @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
types{
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
}
type{
    margin: 0 auto;
}
